//colors

$swamp: #001614;
$gray: #8888;
$silver: #cccc;
$white: #ffff;
$sky-blue: #79dee7;
$persimmon: #ff565b;


//font-size

$font-size-xxx-large :40px;
$font-size-xx-large :30px;
$font-size-x-large :20px;
$font-size-large :18px;
$font-size-medium :16px;
$font-size-small :14px;
$font-size-x-small :12px;

//breackpoint

$min-laptop:768px;


